<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>About Us</title>
	<style>
	body { 
     background: url('Background.jpg') no-repeat center center fixed;    
     background-size:cover;
  }
  </style>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aling Nena's</a>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="container">

      <div class="starter-template">
        <h1>The Long, Unforgiving Road</h1>
        <p class="lead">Aling Nena was a simple woman, with a dream. She dreamed of opening the most successful shop she could open with the little budget that she had.</p>
        <br>
        <p class="lead">She lived in the God-forsaken land of Syria, where war was rampant. People died everyday, but somehow she managed to keep her dream alive by selling her goods to underground movements against the government. Aside from that, she had her daughter with her. While Aling Nena may have remained strong somehow, her daughter Stephanie had it worse. She witnessed her father's demise at the hands of a stray explosive mine that somehow ended up in their backyard. She never stayed the same after that.</p>
        <br>
        <p class="lead">And so Aling Nena had to stay strong for both her daughter and herself. When the war was finally over, Aling Nena had somehow managed to secure 2 tickets to the United States of America. However, Aling Nena's horrible sense of direction sent her on the voyage to the other God-forsaken land of the Philippines instead, where, upon anchor, Aling Nena was immediately robbed, molested, and almost kidnapped along with her daughter. She somehow managed to escape their perpetrators and ended up in mystical land of Bulacan where the kind Bulaceños saw to Aling Nena and her daughter's well-being.</p>
        <p class="lead">"So Aling Nena had finally found the place where she felt she could live out the rest of the life, and thus decided to open "Aling Nena's Sarisari Store" in the beautiful land of Bulacan and finally have a peaceful life with her daughter.</p>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>